version: 2.1

jobs:
  test:
    docker:
      - image: cimg/node:20.18
        auth:
          username: $DOCKER_USER
          password: $DOCKER_TOKEN
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "package-lock.json" }}
            - v2-dependencies-
      - run:
          name: Install Dependencies
          command: npm ci
      - save_cache:
          paths:
            - node_modules
          key: v2-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Creates backups folder
          command: mkdir backups
      - run:
          name: Run Tests with reports
          command: npm run test:report
      - run:
          name: Upload coverage to Coveralls
          command: |
            curl -sL https://coveralls.io/coveralls-linux.tar.gz | tar -xz
            ./coveralls report reports/coverage/lcov.info
      - store_test_results:
          path: reports
      - store_artifacts:
          path: reports/coverage
workflows:
  test:
    jobs:
      - test